@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local("Pretendard Black"), url("/font/woff2/Pretendard-Black.woff2") format("woff2"), url("/font/woff/Pretendard-Black.woff") format("woff"), url("/font/otf/Pretendard-Black.otf") format("otf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local("Pretendard ExtraBold"), url("/font/woff2/Pretendard-ExtraBold.woff2") format("woff2"), url("/font/woff/Pretendard-ExtraBold.woff") format("woff"), url("/font/otf/Pretendard-ExtraBold.otf") format("otf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local("Pretendard Bold"), url("/font/woff2/Pretendard-Bold.woff2") format("woff2"), url("/font/woff/Pretendard-Bold.woff") format("woff"), url("/font/otf/Pretendard-Bold.otf") format("otf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard SemiBold"), url("/font/woff2/Pretendard-SemiBold.woff2") format("woff2"), url("/font/woff/Pretendard-SemiBold.woff") format("woff"), url("/font/otf/Pretendard-SemiBold.otf") format("otf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local("Pretendard Medium"), url("/font/woff2/Pretendard-Medium.woff2") format("woff2"), url("/font/woff/Pretendard-Medium.woff") format("woff"), url("/font/otf/Pretendard-Medium.otf") format("otf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard Regular"), url("/font/woff2/Pretendard-Regular.woff2") format("woff2"), url("/font/woff/Pretendard-Regular.woff") format("woff"), url("/font/otf/Pretendard-Regular.otf") format("otf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local("Pretendard Light"), url("/font/woff2/Pretendard-Light.woff2") format("woff2"), url("/font/woff/Pretendard-Light.woff") format("woff"), url("/font/otf/Pretendard-Light.otf") format("otf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: local("Pretendard ExtraLight"), url("/font/woff2/Pretendard-ExtraLight.woff2") format("woff2"), url("/font/woff/Pretendard-ExtraLight.woff") format("woff"), url("/font/otf/Pretendard-ExtraLight.otf") format("otf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local("Pretendard Thin"), url("/font/woff2/Pretendard-Thin.woff2") format("woff2"), url("/font/woff/Pretendard-Thin.woff") format("woff"), url("/font/otf/Pretendard-Thin.otf") format("otf");
}
*{font-family: 'Pretendard';}

*{margin: 0;padding: 0;box-sizing: border-box;}
body{background-color: #101010;}
.container{width: 100vw;height: 100vh;position: relative;background-color: #000;}
.container--bg{width: 100%;height: 80%;position: absolute;top: 0;left: 0;background-image: url(./landing_bg.png);background-size: contain;background-position: center center;background-repeat: no-repeat;}
.container--bg-circle{width: 100%;height: 100%;position: absolute;  background: radial-gradient(rgba(0,0,0,0), #101010);}
.text{display: flex;align-items: center;justify-content: center;text-align: center;color: #fff;flex-direction: column;width: 100%;height: 100%;position: relative;}
.text01{font-size: 25px;font-weight: 500;}
.text02{font-size: 130px;-webkit-text-stroke: 2px #fff;color: rgba(255,255,255,0);font-weight: bold;}
.text03{padding: 8px 32px;border-radius: 30px;border: 1px solid #fff;font-size: 25px;font-weight: 600;}
@media all and (max-width:1024px){
    .text02{font-size: 80px;}
}
@media all and (max-width:767px){
    .text02{font-size: 60px;}
}
@media all and (max-width:480px){
    .text01{font-size: 16px;font-weight: 500;}
    .text02{font-size: 40px;-webkit-text-stroke: 1px #fff;}
    .text03{font-size: 16px;font-weight: 600;padding: 6px 24px;}
}
.landing--swiper {position: fixed;width: 100%;background-color:#101010;bottom: 0;padding-bottom: 60px;}

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: auto;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.landing--swiper{width: 100%; overflow: hidden;}

.swiper-button-next:after, .swiper-button-prev:after{color: #fff;}