.board--calendar-writeButton{display: flex;justify-content: flex-end;margin-top: 40px;}
.board--calendar-writeButton a{background-color: #eee;border: 1px solid #eee;}
.board--calendar-writeButton a:hover{background-color: #333;border: 1px solid #333;color: #fff;}