.register--container{width: 100%;max-width: 572px;margin:160px auto;}
body{min-height: 100vh;background-image: url();}

.register li{list-style: none;}
.register{margin-top: 160px;background-color: #fff;border-radius: 20px;margin-bottom: 200px;width:calc(100% - 40px);padding: 60px 40px;max-width: 572px;}
/* .register_modify{max-width: 964px;} */

.frm_input{height: 52px;border-radius: 6px;font-size: 16px;padding: 4px 20px;}
.frm_input::placeholder{color: #aaa;}
.frm_input:focus{box-shadow: unset;border: 1px solid #000;}
#container{background-color: #ddd;}
.register_form_inner{background-color: #fff;border: 0px solid #000;}
.rgf--title{font-size: 40px;font-weight: 600;}
.register--btn_frmline{border: 0px solid #000;outline: none;background-color: #000;padding: 4px 16px;color: #fff;height: 52px;font-size: 16px;margin-left: 8px;border-radius: 6px;}
.btn_confirm .btn_submit{background-color: #000;}
.register_form_inner ul{padding: 20px 0;}
#register_form h2{padding: 20px 0;}

.register_form_inner label{font-size: 14px;font-weight: 600;}
.register_input_id{display: flex;}
@media all and (max-width:769px){
    .register{padding: 40px 20px;border-radius: 15px;}
    .rgf--title{font-size: 24px;}
    #fregisterform .form_01 div{margin: 0;}
}