<link rel="stylesheet" href="./component.css">
<div class="header">
    <div class="header--wrap">
        <div class="header--logo">
            <img src="/img/header_logo_white.png" alt="">
            <img src="/img/header_logo_black.png" alt="">
        </div>
        <div class="header--menu">
            <div class="header--menu-item"><a href="">안치환</a></div>
            <div class="header--menu-item"><a href="">엘범</a></div>
            <div class="header--menu-item"><a href="">콘서트</a></div>
            <div class="header--menu-item"><a href="">Now.안치환</a></div>
            <div class="header--menu-item"><a href="">팬 메세지</a></div>
            <div class="header--menu-item"><a href="">공지사항</a></div>
            <div class="header--menu-item"><a href="">갤러리</a></div>
        </div>
        <div class="header--member">
            <a href="">로그인</a>
            <span></span>
            <a href="">회원가입</a>
        </div>
    </div>
</div>